#trainer-row {
  margin: 0px;
}

#dashboard {
  background: rgb(0,244,172);
  background: linear-gradient(90deg, rgba(0,244,172,1) 0%, rgba(97,82,216,1) 100%);
}

.column-hover-custom {
  padding: 0px;
}
