/* Gradients created on: 
https://cssgradient.io/ */

#loginField {
  padding-top: 7%;
  padding-bottom: 18%;
  padding-left: 2%;
  padding-right: 2%;background: rgb(87,98,213);
  background: linear-gradient(0deg, rgba(87,98,213,1) 0%, rgba(32,233,169,1) 100%);
}

#buttons {
  align-content: center;
}

.button-gradient {
  border-radius: 4px;
  background: rgb(0,244,172);
  background: linear-gradient(90deg, rgba(0,244,172,1) 0%, rgba(97,82,216,1) 100%);
}

#loginButton {
  background: rgb(0,130,108);
  background: linear-gradient(90deg, rgba(0,130,108,1) 0%, rgba(78,68,124,1) 100%);
  font-weight: bold;
  color: white;  
  width: 95%;
  margin-bottom: 4px;
  margin-top: 4px;
  border-color: transparent;
}

#registerButton {
  background: rgb(0,130,108);
  background: linear-gradient(90deg, rgba(0,130,108,1) 0%, rgba(78,68,124,1) 100%);
  font-weight: bold;
  color: white;
  width: 95%;
  margin-bottom: 4px;
  margin-top: 4px;
  border-color: transparent;
}

#loginHeader {
  color: rgb(68, 55, 64);
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 100;
}

#loginContainer {
  background-color: black;
}

#loginDiv {
  padding-top: 5%;
  padding-bottom: 25%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: transparent;
  display: inline-block;
}

#registerDiv {
  padding-top: 5%;
  padding-bottom: 50%;
  padding-left: 2%;
  padding-right: 2%;
  /* background-color: transparent; */
  display: none;
}

.form-control {
  background-color: white;
}

.top-div {
  margin-bottom: 6px;
}