nav {
    background-color: rgb(73, 82, 100);
}

#branding {
    color: rgb(0, 236, 175);
    font-weight: bold;
}

#navbar-button-custom a {
    font-weight: bold;
    color: rgb(0, 236, 175);
}

#about-wrapper {
    background-color: white;
    width: 60%;
    margin: auto;
    max-width: 800px;
    font-size: 200%;
    margin-top: 8%;
    margin-bottom: 18%;
    padding: 2%;
}