#customizer-wrapper {
  background-color: white;
  margin-top: 2.5%;
  margin-right: 2.5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#customizer-div {
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.groupButton {
  /* background-color: #307bf3;  */
  border: none;
  color: white;
  margin: 1%;
  font-size: 120%;
} 

#customizer-header {
  margin:1%;
}

#ageInput{
  margin:5%;
  width: 100%;
}

#ageButton {
  background-color: #17a2b8; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  padding: 5%;
  padding-left: 12%;
  padding-right: 12%;
  min-width: 15%;
}

#button-wrapper {
  margin: auto;
}

#age-wrapper {
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
}

#maleButton {
  background-color:#0092fa;
  border: none;
  color: white;
  margin: 2%;
  font-size: 140%;
}

#femaleButton {
  background-color: rgb(255, 90, 118);
  border: none;
  color: white;
  margin: 2%;
  font-size: 140%;
}