#data-grapher-wrapper {
    background-color: white;
    margin: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    /* height: 80%; */
    padding-bottom: 5%;
  }
  
  #data-grapher-div {
    margin-left: auto;
    margin-right: auto;
  }

  #pie-chart {
      width: 100%;
  }

  #refresh {
    margin: 4%;
  }
